html, body {
   background-color: #0C080A;
   color: white;
   }
   
   @font-face {
   font-family: bolds;
   src: url(../fonts/bold.ttf);
   }
   
   @font-face {
   font-family: mediums;
   src: url(../fonts/medium.ttf);
   }
   
   @font-face {
   font-family: regulers;
   src: url(../fonts/reguler.ttf);
   }
   
   .fb {
   font-family: bolds !important;
   }
   
   .fm {
   font-family: mediums !important;
   }
   
   .fr {
   font-family: regulers !important;
   }
   
   .header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background: rgba(12, 8, 10, 0.8);
   transition: backdrop-filter 0.3s, -webkit-backdrop-filter 0.3s;
   z-index: 1000;
   }
   
   
   .header.blur {
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(5px); /* For Safari */
   }
   
   .title {
   font-size: 24px;
   font-weight: bold;
   }
   
   .mix-blend-mode{
   mix-blend-mode: normal;
   }
   
   .cr {  
   overflow: hidden; /* Mencegah elemen di dalam card keluar dari batas card */
   text-overflow: ellipsis; /* Potong teks yang terlalu panjang */
    white-space: nowrap;
   
   }
   
   .circlef {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden; /* This ensures the image does not overflow the circle */
   border: 1.3px solid #272727;
   }
   
   .circlef img {
   width: 25px;
   height: 25px;
   }
   
  a {
  text-decoration: none;
  color: white;
  }
  
  a:hover {
  text-decoration: none;
  }
   
   
   .form-select {
   background-color: transparent;
   border: 2px solid #272727;
   border-radius: 10px;
   padding: 0.6rem;
   width: 95px;
   outline: none;
   color: white;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="white" d="M7 10l5 5 5-5z"/></svg>'); /* Ganti warna panah */
   background-repeat: no-repeat;
   background-position: right 0.2rem top 50%;
   background-size: 1.2em 1.2em;
   }
   
   .form-select:focus {
   border-color: #272727;
   box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
   background-color: transparent;
   outline: 0px;
   }
   
   .form-select:active {
   border-color: #272727;
   box-shadow: 0;
   }
   
   .areaku::placeholder {
   color: #888888; /* Warna abu-abu */
   box-shadow: 0;
   border: 0px;
   }
   
   /* Custom class to remove border color */
   .no-border:focus {
   border-color: transparent;
   box-shadow: none;
   }
 
   
   .bg {
   background-color: #151515;
   }
   
   .bg-header {
   background-color: #0C080A;
   color: white;
   }
   
   .border-btm {
   border-bottom: 1.3px solid #272727;
   }
   
   .border-card {
   border: 1.3px solid #272727;
   }
   
   .text-truncate-2 {
   display: -webkit-box;
   -webkit-line-clamp: 2; /* Number of lines to show */
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   }
   
   .live-now {
   background-color: #FD1B44;
   color: white;
   padding: 3px 5px;
   border-radius: 5px;
   display: inline-block;
   animation: blink 1.5s infinite;
   }
   
   @keyframes blink {
   0% { background-color: inherit; }
   50% { background-color: #FD1B44; }
   100% { background-color: inherit; }
   }
   
   .center-load {
   height: 110vh; /* Memenuhi seluruh tinggi viewport */
   display: flex; /* Mengaktifkan layout fleksibel */
   justify-content: center; /* Menjaga elemen tetap di tengah secara horizontal */
   align-items: center; /* Menjaga elemen tetap di tengah secara vertikal */
   }
   
   .spin {
   color: #CDF202;
   }
   
   
   .chat-box {
   flex: 1;
   overflow-y: auto;
   padding: 15px;
   }
   
   .chat-input {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 10px;
   border-top: 1px solid #272727;
   }
   
   .comment-section {
   padding: 0px;
   width: 100%;
   box-sizing: border-box;
   }
   
   .chat-container {
   display: flex;
   align-items: flex-start;
   margin: 10px 10px 15px 10px;
   }
   
   
   .chat {
   display: flex;
   flex-direction: column;
   max-width: 400px;
   margin: 20px auto;
   }
   .message-container {
   margin-bottom: 10px;
   }
   .message {
   display: flex;
   margin-bottom: 5px;
   }
   .avatar {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
   border: 1.3px solid #272727;
   background-color: #151515;
   }
   .bubble {
   background-color: #151515;
   padding: 7px;
   border-radius: 10px;
   max-width: 70%;
   word-wrap: break-word;
   border: 1.3px solid #272727;
   font-size: 15px;
   }
   
   .meta {
   font-size: 12px;
   color: #999;
   margin-left: 50px;
   }
   
   
   /* Gaya dasar untuk input pesan */
   .chats {
   color: white;
   padding: 10px;
   font-size: 16px;
   }
   
   /* Gaya untuk input pesan ketika fokus */
   .chats:focus {
   border-color: #151515; /* Warna border saat input fokus */
   outline: none; /* Menghilangkan outline default */
color: white;
   }
   
   .circle {
   width: 30px;
   height: 30px;
   border-radius: 50%; /* Membuatnya menjadi lingkaran */
   background-color: #151515; /* Ganti warna sesuai keinginan */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   color: white;
   border: 1.3px solid #272727;
   }
   
   
   .circle p {
   margin: 0; /* Menghilangkan margin bawaan */
   }
   
   
   
   
   .placeholder-animation {
   width: 200px; /* Sesuaikan dengan lebar yang Anda inginkan */
   height: 20px; /* Sesuaikan dengan tinggi yang Anda inginkan */
   background: linear-gradient(to right, rgba(39,39,39,0) 0%, rgba(39,39,39,0.5) 50%, rgba(39,39,39,0) 100%);
   background-size: 200% 100%;
   animation: placeholder-animation 2s infinite linear;
   }
   
   @keyframes placeholder-animation {
   0% {
   background-position: -200% 0;
   }
   100% {
   background-position: 200% 0;
   }
   }
   
   @keyframes placeholder-animation {
   0% {
   background-position: -200% 0;
   }
   100% {
   background-position: 200% 0;
   }
   }
   
   .placeholder-animation1 {
   width: auto;
   height: 160px;
   background: linear-gradient(to right, rgba(39,39,39,0) 0%, rgba(39,39,39,0.5) 50%, rgba(39,39,39,0) 100%);
   background-size: 200% 100%;
   animation: placeholder-animation 2s infinite linear;
   }
   
   @keyframes placeholder-animation1 {
   0% {
   background-position: -200% 0;
   }
   100% {
   background-position: 200% 0;
   }
   }
   
   
   .c1 {
   width: 30px;
   height: 30px;
   border-radius: 50%; /* Membuatnya menjadi lingkaran */
    /* Ganti warna sesuai keinginan */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border: 1.3px solid #272727;
   }
   
   .s1 {
   
   border-radius: 50px;
   padding: 10px 20px;
   max-width: 300px;
   position: relative;
   width: 130px;
   height: 30px;
   border: 1.3px solid #272727;
   
   }
   
   .s2 {
  
   border-radius: 50px;
   padding: 10px 20px;
   max-width: 300px;
   position: relative;
   width: 190px;
   height: 30px;
   border: 1.3px solid #272727;
   }
   
   .s3 {
   
   border-radius: 50px;
   padding: 10px 20px;
   max-width: 300px;
   position: relative;
   width: 90px;
   height: 30px;
   border: 1.3px solid #272727;
   }
   